@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad&display=swap');

body {
    background-image: linear-gradient(to right, #F2F2F2, #FFA1BD );
}


body.paginaBillie {
    background-image: linear-gradient(45deg, #01060D, #012840, #166e91 );
    background-size: 500% 500%;
    width: 100%;
    min-height: 100vh;
    animation: slideGradient 10s ease infinite;
}

body.paginaLana {
    background-image: linear-gradient(to right, #000000, #c4c4c4 );
    background-size: 500% 500%;
    animation: slideGradient 10s ease infinite;
}

@keyframes slideGradient {
    0% {
        background-position: 100% 50%; 
    }
    50% {
        background-position: 0% 50%;  
    } 
    100% {
        background-position: 100% 50%; 
    }
}
#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
h1.tituloBillie {
    font-family: "Playwrite US Trad", cursive;
    font-size: 70px;
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.25);
    font-weight: 350;
    letter-spacing: 2px;
    animation: neonGlow 1.5s ease-in-out infinite alternate;


     text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px rgb(0, 174, 255),
        0 0 30px rgb(6, 46, 46),
        0 0 40px rgb(6, 44, 167),
        0 0 55px rgb(13, 53, 163),
        0 0 75px rgb(11, 56, 151);
}
h1.tituloLana {
    font-family: "Playwrite US Trad", cursive;
    font-size: 70px;
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.25);
    font-weight: 350;
    letter-spacing: 2px;
    animation: neonGlow 1.5s ease-in-out infinite alternate;


     text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px rgb(224, 224, 224),
        0 0 30px rgb(180, 180, 180),
        0 0 40px rgb(255, 255, 255),
        0 0 55px rgb(255, 255, 255),
        0 0 75px rgb(226, 226, 226);
}

.billieh3 {
    font-family: "Playwrite US Trad", cursive;
    font-size: 10;
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0px rgb(255, 255, 255);
    font-weight: 350;

     text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px rgb(0, 174, 255),
        0 0 30px rgb(6, 46, 46),
        0 0 40px rgb(6, 44, 167),
        0 0 55px rgb(13, 53, 163),
        0 0 75px rgb(11, 56, 151);

    animation: slideGradient 10s ease infinite;
}
.lanah3 {
    font-family: "Playwrite US Trad", cursive;
    font-size: 10;
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0px rgb(255, 255, 255);
    font-weight: 350;

     text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px rgb(186, 188, 189),
        0 0 30px rgb(218, 218, 218),
        0 0 40px rgb(109, 109, 109),
        0 0 55px rgb(226, 226, 226),
        0 0 75px rgb(121, 121, 121);

    animation: slideGradient 10s ease infinite;
}
.botonscolor a {
    text-decoration: none; 
    color: inherit;        
}
.botonscolor {
    background-image: linear-gradient(to right, #ffffff, #FFA1BD);
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
    padding: 10px 25px;
    display: block;      
    width: 250px;     
    margin: 20px auto;   
    text-align: center;        
    color: rgb(255, 255, 255);
    
}
.botaoinicial{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
}

.botonscolorbillie {
    background-image: linear-gradient(to right, #012840, #20638C);
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    color: white !important;
    
}
.botonscolorbillie a {
    text-decoration: none;
    color: inherit;
}
.botonscolorbillie a h3 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}
.botonscolorLana {
    background-image: linear-gradient(to right, #313131, #afafaf);
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
    width: 300px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255) !important;
    
}
.botonscolorLana a {
    text-decoration: none;
    color: inherit;
}
.botonscolorLana a h3 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}
.fotogrande {
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
    width: 800px;
    padding: 10px;
    margin: 20px auto;
    
}

main {
    background-image: linear-gradient(to right, #BFBFBF, #404040);
    box-shadow: 5px 5px 15px black;
    width: 300px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    text-align: center;
    
}

.mainbillie {
    background-image: linear-gradient(to right, #011526, #20638C);
    box-shadow: 0 0 5px #fff,
        0 0 10px #ffffff8e,
        0 0 20px rgb(0, 174, 255),
        0 0 30px rgb(6, 46, 46),
        0 0 40px rgb(6, 44, 167),
        0 0 55px rgb(13, 53, 163),
        0 0 75px rgb(11, 56, 151);
    width: 300px;
    padding: 10px;
    margin: 20px;
    animation: ledGradient 10s ease infinite;
    
}
.mainLana {
    background-image: linear-gradient(to right #000000, #dbdbdb);
    box-shadow: 0 0 5px #fff,
        0 0 10px #ffffff8e,
        0 0 10px #fff,
        0 0 20px rgb(224, 224, 224),
        0 0 30px rgb(180, 180, 180),
        0 0 40px rgb(255, 255, 255),
        0 0 55px rgb(255, 255, 255),
        0 0 75px rgb(226, 226, 226);
    width: 300px;
    padding: 10px;
    margin: 20px auto;
    animation: ledGradient 10s ease infinite;

}
.billieBoton {
    color: white;
}

audio {
    color: #105773;
}

h1   {
    color: rgb(0, 0, 0);
}
h2   {
    color: rgb(0, 0, 0);
}
h3   {
    color: rgb(0, 0, 0);
}
p    {
    color: rgb(0, 0, 0);
}
ol   {
    color: rgb(0, 0, 0);
}
ul   {
    color: rgb(0, 0, 0);
}
pre  {
    color: rgb(0, 0, 0);
}
a    {
    color: rgb(0, 0, 0);
}