@charset "UTF-8";

body {
    background-color: rgb(0, 0, 0);
}
h1   {
    color: aliceblue;
}
h2   {
    color: aliceblue;
}
h3   {
    color: aliceblue;
}
p    {
    color: aliceblue;
}
ol   {
    color: aliceblue;
}
ul   {
    color: aliceblue;
}
pre  {
    color: aliceblue;
}
a    {
    color: aliceblue;
}